body {
  background: white;
  color: blue;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
table, th, td {
  border: 2px solid black;
}
td, th {
  border: 1px solid black;
  padding: 10px;
}
tr:nth-child(even) {
  background-color: aquamarine;
}
tr:nth-child(odd) {
  background-color: beige;
}
fieldset, input, select, textarea {
	margin-bottom: 2%;
	}
	fieldset legend {
	font-weight: bold;
	font-size: 1.25em;
	}
	label {
		display: block;
		padding-top: 3%;
	}
	form #submit {
		margin: 0 auto;
		border: none;
		display: block;
		padding: 2%;
		background-color: #b3b3b3;
		font-size: 1em;
		border-radius: 10px;
	}
	form {
		width: auto;
	}
	.form-grid {
		display: grid;
		grid-template-columns: auto auto auto;
		grip-gap: 20px;
	}
	.btn {
		grid-column: 1 / span 3;
	}
